.social {
    font-size: 1.6rem;
    margin-top: 68px;
    height: calc(100vh - 68px);
    display: grid;
    grid-template-columns: 21vw auto 21vw;
}

.name,
.message {
    -moz-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.leftSidebar {
    background-color: var(--bg-color);
    display: grid;
    grid-template-rows: auto min-content;
    overflow: hidden;
    border-right: 1px solid var(--primary-color);
}

.channels {
    overflow: auto;
}

.global {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.global i {
    font-size: 6rem;
}

.global:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.friendsHeader {
    display: flex;
    margin: 0 2rem;
    align-items: center;
    gap: 1.5rem;
}

.friendsHeader i {
    border-radius: 50%;
    font-size: 2.5rem;
    padding: .5rem;
    cursor: pointer;
}

.friendsHeader i:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.friends {
    background-color: var(--bg-color);
    padding: 1rem;
}

.friend {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.friend:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.friend.selected {
    background-color: rgba(0, 0, 0, 0.10);
}

.global.selected {
    background-color: rgba(0, 0, 0, 0.10);
}

.presence {
    color: gray;
    font-size: 1.4rem;
    margin-top: 0.4rem;
}

.presence::before {
    content: '';
    width: 1rem;
    height: 1rem;
    display: inline-block;
    border-radius: 50%;
    margin-right: .5rem;
}

.ONLINE.presence::before {
    background-color: green;
}

.AWAY.presence::before {
    background-color: orange;
}

.OFFLINE.presence::before {
    background-color: red;
}

.slimeBody {
    width: 6rem;
    height: 6rem;
}

.userStatus {
    background-color: var(--bg-color);
    padding: 2rem;
    display: flex;
    gap: 1rem;
    /* box-shadow: 0px 1px 20px rgba(20, 20, 20, 0.1); */
    border-top: 1px solid var(--primary-color);
}

.chat {
    display: grid;
    grid-template-rows: auto min-content;
    gap: 2rem;
    overflow: hidden;
}

.messages {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    overflow: auto;
    padding: 2rem 2rem 0;

}

.message {
    display: inline-block;
    background-color: var(--bg-secondary-color);
    border: 1px solid var(--secondary-color);
    padding: 1rem;
    border-radius: .5rem;
    word-break: break-all;
    margin-top: .25rem;
    min-width: fit-content;
}

.mine {
    align-self: end;
}

.mine .name {
    text-align: end;
}

.mine .message {
    border-color: var(--primary-color);
    background-color: var(--bg-color);
}

.name {
    color: gray;
    font-size: 1.4rem;
}

.messageForm {
    display: flex;
    gap: 1rem;
    margin: 2rem;
}

.messageForm input {
    flex-grow: 1;
    padding: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: .5rem;
}

.messageForm button {
    display: inline-flex;
    align-items: center;
    padding: .75rem;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: transparent;
    border-radius: .5rem;
    cursor: pointer;
}

.messageForm button:hover {
    background-color: var(--bg-color);
}

.rightSidebar {
    background-color: var(--bg-color);
    display: grid;
    place-content: center;
    text-align: center;
    font-size: 1.2vw;
    padding: 2rem;
    border-left: 1px solid var(--primary-color);
}

.rightSidebar .slimeBody {
    width: 9vw;
    height: auto;
    transform: translateX(6%);
}

.World i {
    font-size: 9vw;
}

.rightSidebar .username {
    font-size: 2vw;
}

.modalBackdrop {
    position: fixed;
    width: 100%;
    min-height: calc(100vh - 68px);
    background-color: hsla(0, 0%, 0%, 0.432);
    display: grid;
    place-content: center;
}

.modal {
    background-color: var(--bg-secondary-color);
    border: 1px solid var(--secondary-color);
    padding: 1rem;
    margin: 1rem;
    width: 40rem;
    border-radius: .5rem;
    text-align: center;
}

.modal .friend {
    justify-content: center;
    /* pointer-events: all; */
}

.requestActions {
    display: flex;
    align-items: center;
    font-size: 5rem;
}

.requestActions i {
    font-size: 3rem;
    cursor: pointer;
    border-radius: 50%;
}

.requestActions i:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.friendRequestsHeader {
    margin-bottom: 1rem;
}

.unfriend {
    margin-top: 1rem;
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
    padding: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.unfriend:hover {
    border-color: var(--tertiary-color);
    color: var(--tertiary-color);
}

.unfriend p {
    font-size: 1vw;
}