@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.social {
  font-size: 1.6rem;
  margin-top: 68px;
  height: calc(100vh - 68px);
  display: grid;
  grid-template-columns: 21vw auto 21vw;
  position: relative;
}

.name,
.message {
  -moz-user-select: text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.leftSidebar {
  background-color: var(--bg-color);
  display: grid;
  grid-template-rows: auto min-content;
  overflow: hidden;
  border-right: 1px solid var(--primary-color);
}

.channels {
  overflow: auto;
}

.global {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.global i {
  font-size: 6rem;
}

.global:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.friendsHeader {
  display: flex;
  margin: 0 2rem;
  align-items: center;
  /* gap: 1rem; */
}

.friendsHeader i {
  border-radius: 50%;
  font-size: 2.5rem;
  padding: 0.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.friendsHeader i:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.friends {
  background-color: var(--bg-color);
  padding: 1rem;
}

.friend {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.unreadMessages {
  background-color: var(--bg-tertiary-color);
  border: 1px solid var(--tertiary-color);
  align-self: center;
  width: 3rem;
  height: 3rem;
  display: grid;
  place-content: center;
  border-radius: 50%;
  color: var(--tertiary-color);
  margin-left: 3rem;
}

.friend:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.friend.selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.global.selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.presence {
  color: gray;
  font-size: 1.4rem;
  margin-top: 0.4rem;
}

.presence::before {
  content: "";
  width: 1rem;
  height: 1rem;
  display: inline-block;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.ONLINE.presence::before {
  background-color: green;
}

.AWAY.presence::before {
  background-color: orange;
}

.OFFLINE.presence::before {
  background-color: red;
}

.slimeBody {
  width: 6rem;
  height: 6rem;
}

.userStatus {
  background-color: var(--bg-color);
  padding: 2rem;
  display: flex;
  gap: 1rem;
  /* box-shadow: 0px 1px 20px rgba(20, 20, 20, 0.1); */
  border-top: 1px solid var(--primary-color);
}

.chat {
  display: grid;
  grid-template-rows: auto min-content;

  overflow: hidden;
}

.DateTime {
  text-align: center;
  font-size: max(0.7vw, 10px);
  margin-top: 0.5vw;
}

.messages {
  display: flex;
  flex-direction: column-reverse;
  /* gap: 3rem; */
  overflow: auto;
  padding: 2rem 2rem 0;
  padding-bottom: 1vw;
}

.messageContainer {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  align-items: end;
  gap: max(0.7vw, 14px);
  justify-content: start;
  margin-top: 1vw;
  width: 32vw
}

.MessageIsSame.messageContainer {
  margin-top: 0.3vw;
  margin-left: max(3.7vw, 74px);
}

.MessageIsSame.messageContainer.mine {
  margin-left: none;
  margin-right: max(3.7vw, 74px);
}

.messageContainer button {
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 50%;
}

.messageContainer button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.AccountBannerContainer {
  position: absolute;
  /* top: -50%; */
  left: max(3.5vw, 70px);
  /* top: 5vw; */
  z-index: 1000;
}

.messageContainer.mine .AccountBannerContainer {
  right: max(3.5vw, 70px);
  left: auto;
}

.messageContainer.mine {
  justify-content: end;
  margin-left: auto;
}

.messageContainer.mine button {
  order: 2;
}

.messageContainer .slime {
  width: max(3vw, 60px);
  display: block;
}

.message {
  display: inline-block;
  background-color: var(--bg-secondary-color);
  border: 1px solid var(--secondary-color);
  padding: 0.5vw;
  font-size: max(0.9vw, 18px);
  border-radius: 0.5vw;
  word-break: break-all;
  margin-top: 0.25rem;
  min-width: fit-content;
  font-family: "Roboto", sans-serif;
}

.messageFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.mine.messageFlex {
  align-items: end;
}

.name {
  color: gray;
  font-size: max(0.7vw, 14px);
  margin-bottom: 0.1vw;
}

.mine .name {
  text-align: end;
}

.mine .message {
  border-color: var(--primary-color);
  background-color: var(--bg-color);
}

/* .message:after {
  content: "";
  position: absolute;
  left: 3vw;
  width: 1vw;
  height: 1vw;
  top: 1.75vw;

  z-index: -1;
  border: 15px solid transparent;
  border-top: 15px solid var(--bg-secondary-color);
}

.mine .message:after {
    left: auto;
  right: 3vw;

} */

.messageForm {
  display: flex;
  gap: 0.6vw;
  margin: 1vw;
}

.messageForm input {
  flex-grow: 1;
  padding: 0.2vw 0.5vw;
  font-size: 0.8vw;
  border: 1px solid var(--primary-color);
  border-radius: 0.3vw;
}

.messageForm button {
  display: inline-flex;
  align-items: center;
  padding: 0.4vw;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: transparent;
  border-radius: 0.3vw;
  cursor: pointer;
}

.messageForm button:hover {
  background-color: var(--bg-color);
}

.rightSidebar {
  background-color: var(--bg-color);
  display: grid;
  place-content: center;
  text-align: center;
  font-size: 1.2vw;
  padding: 2rem;
  border-left: 1px solid var(--primary-color);
}

.rightSidebar .slimeBody {
  width: 9vw;
  height: auto;
  margin: 0 auto;
}

.World i {
  font-size: 9vw;
}

.rightSidebar .username {
  font-size: 2vw;
}

.modalBackdrop {
  position: fixed;
  width: 100%;
  height: calc(100vh - 68px);
  background-color: hsla(0, 0%, 0%, 0.432);
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 5rem; */
  /* overflow: hidden; */
}

.modal {
  background-color: white;
  border: 1px solid var(--gray-color);
  padding: 1rem;
  margin: 1rem;
  width: 40rem;
  border-radius: 0.5rem;
  text-align: center;

  height: 70vh;
  overflow-y: scroll;
}

.modal .friend {
  justify-content: center;
}

.actions {
  display: flex;
  align-items: center;
  font-size: 5rem;
}

.actions i {
  font-size: 3rem;
  cursor: pointer;
  border-radius: 50%;
}

.actions i:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.friendRequestsHeader {
  margin-bottom: 1rem;
}

.unfriend {
  margin-top: 1rem;
  background-color: white;
  border: 1px solid var(--tertiary-color);
  color: var(--tertiary-color);
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.unfriend:hover {
  background-color: var(--bg-tertiary-color);
}

.unfriend p {
  font-size: 1vw;
}

.searchInput {
  padding: 1rem;
  border: 1px solid var(--gray-color);
  border-radius: 0.5rem;
  margin-block: 0.5rem 1rem;
}