
.rollDiv {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 4%;
  margin-left: 15%;
  list-style: none;
}

.rollButton {
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    background: #00ffb3;
    position: relative;
    overflow: hidden;
    padding: 0.5rem;
    margin: 0 5%;
    border: 3px solid #121212;
    background: linear-gradient(
        -44deg,
        rgb(240, 200, 0) 0%,
        rgb(255, 234, 128) 40%
      );
    font-weight: 1000 !important;
    font-size: 2vh;
    width: 15vw;
    height: 4vw;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.735);

}

.rollButton:hover {
  transition: 0.1s !important;
  transform: scale(110%) translateY(0.1%);
}

.rollButton:before {
    content: '';
    position: absolute;
    width: 10vw;
    height: 100%;
    background-image: linear-gradient(
        140deg,
        rgba(255,255,255, 0) 30%,
        rgba(255,255,255, .8),
        rgba(255,255,255, 0) 70%
    );
    top: 0;
    left: -100px;
    animation: shine 2.5s infinite linear; /* Animation */
}

@keyframes shine {
    0% {left: -100px}
    20% {left: 100%}
    100% {left: 100%}
}

.popupBanner{
    color: silver;
    background: -moz-linear-gradient(360deg, #1C1C1C 10%, #494949 360%); background: linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
    display: flex;
    width: 30vw;
    height: 40vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }
  
  .popupBanner p{
    display: flex;
    font-size: 20px;
    font-weight: bold;
  }
  

  .popupBanner .currencyContainer{
    width: 50%;
    margin-bottom: 20%;
    display: flex;
    justify-content: center;
  }
  
  .popupBanner button{
    display: block;
    position: absolute;
    bottom: 6vh;
    bottom: 1%;
    padding: 0.8vw 2vw;
    font-size: 1.5vw;
    margin: 15px;
    border: none;
    border: 5px solid rgb(0, 0, 0);
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.735);
    font-family: 'Exo 2', sans-serif;
    font-size: 1.3vw;
    font-weight: 500
  }
  
  .popupBanner button:hover {
    transform: none;
  }

  .popupBanner button:active{
    transform: scale(95%) translateY(0.1%);
  }