.Gacha {
    background: radial-gradient(var(--home-inner-color), var(--home-outer-color));
    width: 100vw;
    height: 100vh;
}

.currencyDiv {
    position: fixed;
    top: calc(2vw + 65px);
    right: 6vw;
    height: 5vh;
    font-size: max(2vw, 18px);
    color: rgb(230, 230, 230);
    display: flex;
    align-items: center;
    
}

.currencyDiv img{
    max-width: 2vw;
}

@media only screen and (max-height: 850px) {
  .slimeImage {
    width: 10vw !important;
  }
  .rollDiv {
    margin-bottom: 2% !important;
  }
  .rollName {
    font-size: 3rem !important;
  }
}

.SwipeContainer {
  position: fixed;
  top: 12vh;
  left: 2.5vw;
  width: 10vw;
  height: 10vw;
  z-index: 9999;
}

.SwipeContainer:after {
  content: "Buy Gold";
  position: absolute;
  top: -1.75vw;
  font-size: 1.3vw;
  width: 100%;
  text-align: center;
  color: white;
}

.skinShardAmount,
.charShardAmount {
  font-size: 3.5rem;
  font-weight: 500;
  padding: 19vw;
}
.skinShardDiv{
    padding-left: 2vw;
}

.gachaRollImage {
  width: 100% !important;
  height: 75vh !important;
}

.bannerContainer {
  background-image: linear-gradient(to bottom, #28313b 0%, #485461 60%);
  height: 55vh;
  display: grid;
  margin: 19vh 17vw;
  border-radius: 5px;
}

.rollTitle {
  position: absolute;
  top: 35vh;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: grey;
  width: 40vw;
  text-align: center;
  padding: 3vh 3vw;
  border-radius: 0.375rem;
  border-style: solid;
  border-color: whitesmoke;
  border-width: 5px;
  font-weight: bolder;
  font-size: xx-large;
  color: white;
}

.rollType {
  font-size: x-large;
  background-color: #cbc3e3;
  max-height: 40px;
  max-width: 200px;
  text-align: center;
  border-radius: 10px;
  outline-color: black;
  margin-left: -0.3rem;
  margin-top: -0.3rem;
  font-weight: bold;
}
.rollContainer {
  column-count: 2;
}

.rollDescription {
  margin-top: 1vh;
  margin-left: 5rem;
  margin-right: 5rem;
}
.rollName {
  font-size: 4rem;
  font-weight: bolder;
}

.rollParagraph {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 6vh;
}

.rollParagraph,
.rollName {
  text-align: left;
  background: linear-gradient(
    -44deg,
    rgba(255, 230, 106, 0.8) 0%,
    rgb(244, 233, 177) 40%
  );
  padding: 1rem;
  border: 5px solid #121212;
  border-radius: 5px;
}

.slimeImage {
    margin: 1rem;
    background: linear-gradient(
        -44deg,
        rgba(255, 230, 106, 0.8) 0%,
        rgb(244, 233, 177) 40%
        );
        border: 5px solid #121212;
        border-radius: 5px;
        width: 12vw;
  height: auto;
}

.gachaFooter {
  column-count: 2;
}
