.Gacha {
  background: radial-gradient(var(--home-inner-color), var(--home-outer-color));
  width: 100vw;
  height: 100vh;
}

.currencyDiv {
  position: fixed;
  top: calc(2vw + 65px);
  right: 6vw;
  height: 5vh;
  font-size: max(2vw, 18px);
  color: rgb(230, 230, 230);
  display: flex;
  align-items: center;
}

.currencyDiv img {
  max-width: 2vw;
}

@media only screen and (max-height: 850px) {
  .slimeImage {
    width: 10vw !important;
  }
  .rollDiv {
    margin-bottom: 2% !important;
  }
  .rollName {
    font-size: 3rem !important;
  }
}

.SwipeContainer {
  position: fixed;
  top: calc(65px + 7vh);
  left: 3vw;
  width: 10vw;
  height: 10vw;
  z-index: 9999;
}

.SwipeContainer:after {
  content: "Buy Gold";
  position: absolute;
  top: -1.75vw;
  font-size: 1.3vw;
  width: 100%;
  text-align: center;
  color: white;
}

.skinShardAmount,
.charShardAmount {
  font-size: 3.5rem;
  font-weight: 500;
  padding: 19vw;
}
.skinShardDiv {
  padding-left: 2vw;
}

.gachaRollImage {
  width: 100% !important;
  height: 75vh !important;
}

.bannerContainer {
  position: relative;
  background-image: linear-gradient(#2e4054, #2f5074, #2e4054);
  height: 55vh;
  display: grid;
  margin: 24vh 17vw 0 17vw;
  border-radius: 5px;
}

.rollTitle {
  position: absolute;
  top: 35vh;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: grey;
  width: 40vw;
  text-align: center;
  padding: 3vh 3vw;
  border-radius: 0.375rem;
  border-style: solid;
  border-color: whitesmoke;
  border-width: 5px;
  font-weight: bolder;
  font-size: xx-large;
  color: white;
}

.rollType {
  position: absolute;
  padding: 0.3vw 0.5vw;
  top: -0.4vw;
  left: -0.4vw;
  font-size: 1vw;
  background-color: #cbc3e3;
  height: 2vw;
  width: 9vw;
  border-radius: 10px;
  outline-color: black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rollContainer {
  column-count: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rollSlimes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 3vw 0 2vw
}

.rollDescription {
  margin-left: 1.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rollName {
  font-size: 4rem;
  font-weight: bolder;
  width: 90%;
  background: linear-gradient(
    -44deg,
    rgba(255, 230, 106, 0.8) 0%,
    rgb(244, 233, 177) 40%
  );
  padding: 0.5vw 0;
}

.rollParagraph {
  font-size: 1.25vw;
  color: #2d2d2d;
  font-weight: bold;
  margin-top: 5vh;
  width: 80%;
  height: 30%;
  padding: 1.5vw 2vw;
  background: linear-gradient(
    -44deg,
    rgba(222, 205, 122, 0.858) ,
    rgba(244, 233, 177, 0.886) 
  );
}

.rollParagraph,
.rollName {
  text-align: center;

  border: 5px solid #121212;
  border-radius: 5px;
}

.slimeImage {
  margin: 0.5vw 0.5vw 0 0;
  background: linear-gradient(
    -44deg,
    rgba(255, 230, 106, 0.8) 0%,
    rgb(244, 233, 177) 40%
  );
  border: 5px solid #121212;
  border-radius: 5px;
  width: 12vw;
  height: auto;
  height: 22vh;
}

.gachaFooter {
  column-count: 2;
}
