/** Still in alot of progress dont touch
AUGHHHHHHHHHHHHHHHHHHHHHHHH **/

.Home {
  height: 100vh;
  width: 100vw;

  background: radial-gradient(var(--home-inner-color), var(--home-outer-color));
}

.MainBanner {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 60px;
  background: linear-gradient(rgba(13, 13, 13, 0.2), rgba(13, 13, 13, 0));

  width: 40%;
  height: fit-content;
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.MainBanner hr {
  border: 2px solid rgba(0, 0, 0, 0.2);
  width: 100%;
}

.MBNameLevelContainer {
  width: 100%;
  display: flex;
  align-items: end;
  gap: 10px;
}

.MBName {
}

.MBLevel {
  font-size: 40px;
}

.MBRank {
}

.characterIMG {
  position: fixed;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 85%;
  animation: move 2.7s ease-in-out infinite;
  pointer-events: all;
}

@keyframes move {
  0% {
    transform: scale(1) translate(-50%, -50%);
  }
  50% {
    transform: scale(1.005) translate(-50%, -50.6%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}

.DailyChestContainer {
  position: fixed;
  left: 11.5vh;
  bottom: 2vh;
  font-size: 2.5vw;
  font-weight: 500;
  text-align: center;
  color: #1f1f20cd;

  z-index: 2;
}

.dailyChest {
  width: 17vw;
  pointer-events: all;
}

/** Power Particles **/
.ParticlesWrap {
  pointer-events: none;
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

@keyframes fall {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0%);
  }
}
.Particles {
  position: absolute;
  background: var(--particle-color);
  border-radius: 50%;
  top: 0%;
  animation-name: fall;
}

/** RANKINGS **/

.RankingsContainer {
  position: fixed;
  top: 12vh;
  right: 2vw;
  display: block;
  width: 24vw;
  height: 50vh;
  padding: 0.3vw 1vw;

  background-color: #ffffff81;

  font-size: 2vw;
  font-weight: 500;
}

.RankingsContainer ol {
  margin-left: 3vw;
}

/** PLAY BUTTON **/

.PlayButton {
  position: fixed;
  bottom: 15vh;
  right: 3vw;
  display: block;
  background: transparent;
  z-index: 2;

  width: 22vw;
  height: 6vw;
  line-height: 6vw;
  text-align: center;
  font-size: 5vw;
  font-weight: 700;
  border: none;
  color: #1f1f20;
}

.PlayButton:after,
.PlayButton:before {
  position: absolute;
  content: "";
  width: 22vw;
  left: -0.5vw;
  height: 5.4vw;
  z-index: -1;
  border: 0.5vw solid #1f1f20;
  background: linear-gradient(90deg, #b5883f, transparent) #f3c921;
  transition: background-color 1s;
}

.PlayButton:before {
  top: -3.25vw;
  transform: perspective(1.5vw) rotateX(3deg);
  border-bottom: none;
}
.PlayButton:after {
  top: 3.25vw;
  transform: perspective(1.5vw) rotateX(-3deg);
  border-top: none;
}

.PlayButton:hover:before,
.PlayButton:hover:after {
  background-color: #e91e1e;
}
