/** Still in alot of progress dont touch
AUGHHHHHHHHHHHHHHHHHHHHHHHH **/

.Home {
  height: 100vh;
  width: 100vw;

  background: radial-gradient(var(--home-inner-color), var(--home-outer-color));
}

.MainBanner {
  position: fixed;
  top: 15%;
  left: 51%;
  transform: translate(-50%, 0%);
  font-size: 2vw;
  background: linear-gradient(22deg, rgba(193, 171, 61, 0.832) 0%, rgba(251, 240, 184, 1) 60%);
  z-index: 10;
  border: 5px solid black;

  width: 25vw;
  height: 7.5vw;
  padding: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SwipeContainer{
  position: fixed;
  top: 12vh;
  left: 4vw;
  width: 10vw;
  height: 10vw;
  z-index: 9999;
}


.SwipeContainer:after{
  content: "Buy Gold";
  position: absolute;
  top: -1.75vw;
  font-size: 1.3vw;
  width: 100%;
  text-align: center;
  color: white;
}


.MainBanner hr {
  border: 2px solid rgba(0, 0, 0, 0.2);
  width: 100%;
}

.MBNameLevelContainer {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 10px;
}

.MBName {}

.MBLevel {
  position: absolute;
  left: 0%;
  top: 50%;
  width: 8vw;
  text-align: center;
  transform: translate(-70%, -50%);
  z-index: 20;
  background-color: #1f1f20;
  color: white;
  padding: 1.5vw;
  font-size: 3.5vw;
  border-radius: 1vw;
  border: 3px inset #eebd70;
  background: radial-gradient(#b91d1d, #0f2236);
  font-weight: 600;

  margin-left: 10px;
}

.MBRank {
  font-size: 1.5vw;
  margin-top: 0.2vw;
  color: #1c1c1c;
}

.characterIMG {
  position: fixed;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 85%;
  animation: move 2.7s ease-in-out infinite;
  pointer-events: all;
}

@keyframes move {
  0% {
    transform: scale(1) translate(-50%, -50%);
  }

  50% {
    transform: scale(1.005) translate(-50%, -50.6%);
  }

  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}

.tabs {
  position: fixed;
  left: 3vw;
  bottom: 8vh;
  display: flex;
  gap: 1vw;

  background-color: #cfcfcf55;
  padding: 1vw;
  border-radius: 2vw;
  z-index: 10;
}

.tabsIcon {
  font-size: 1.3vw;
  font-weight: 500;
  text-align: center;
  color: #1f1f20cd;

  z-index: 2;
}

.tabsIcon:hover {
  transform: scale(101.5%);
}

.sideIcons {
  position: relative;
  width: 10vw;
  height: 8vw;
  pointer-events: all;
}

.dailyChest {
  position: relative;
  top: 0;
  left: 0;
  width: 12vw;
  transform: translate(-8%, -10%);
}

.chestGold {
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  text-align: left;
  color: white;
  display: flex;
  align-items: center;
  gap: .5rem;
  animation: getGold 1.5s ease-out forwards;
}

.chestGold img {
  width: 3rem;
}

@keyframes getGold {
  0% {
    opacity: 1;
    transform: translate(-50%, -55%);
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
}

.achivementsIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 15vw;
  pointer-events: all;
  transform: translate(-18%, -5%);
}

/** Power Particles **/
.ParticlesWrap {
  pointer-events: none;
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

@keyframes fall {
  0% {
    transform: translateY(100vh);
  }

  100% {
    transform: translateY(0%);
  }
}

.Particles {
  position: absolute;
  background: var(--particle-color);
  border-radius: 50%;
  top: 0%;
  animation-name: fall;
}

/** RANKINGS **/

.RankingsContainer {
  position: fixed;
  top: 12vh;
  right: 2vw;
  display: block;
  width: 24vw;
  height: 50vh;
  padding: 0.3vw 1vw;

  background-color: #ffffff81;
  border: 3px solid black;

  font-size: 2vw;
  font-weight: 500;
}

.RankingsContainer ol {
  margin-left: 3vw;
}

/** PLAY BUTTON **/

.PlayButton {
  position: fixed;
  bottom: 15vh;
  right: 3vw;
  display: block;
  background: transparent;
  z-index: 2;

  width: 22vw;
  height: 6vw;
  line-height: 6vw;
  text-align: center;
  font-size: 5vw;
  font-weight: 700;
  border: none;
  color: #000000;

}

.PlayButton:after,
.PlayButton:before {
  position: absolute;
  content: "";
  width: 22vw;
  left: -0.5vw;
  height: 5.4vw;
  z-index: -1;
  border: 0.5vw solid #000000;
  background: linear-gradient(90deg, #d4a355, transparent) #f3c921;
  transition: background-color 1s;
}

.PlayButton:before {
  top: -3.25vw;
  transform: perspective(1.5vw) rotateX(3deg);
  border-bottom: none;
}

.PlayButton:after {
  top: 3.25vw;
  transform: perspective(1.5vw) rotateX(-3deg);
  border-top: none;
}

.PlayButton:hover:before,
.PlayButton:hover:after {
  background-color: #e92c1e;
}