.roomPage{
    box-sizing: border-box;
    height: calc(100vh - 65px);
    margin-top: 65px;
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to bottom, #28313b 0%, #485461 60%);
    background-image: url("../../../../public/assets/BackgroundImages/Lobby.jpg");
    background-size:cover;
}

.match{
    margin-top: 3vh;
    width: 40vw;
    padding: 2%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2%;
}

.map{
    box-sizing: content-box;
    background-color: darkgray;
    border: solid 7.5px black;
    border-radius: 5px;
    border: 8px solid rgb(0, 0, 0);
}

.map img{
    width: 100%;
    height: auto;
}

.mapName{
    position: relative;
    bottom: 8px;
    margin: 2%;
    padding: 2%;
    border-radius: 5px;
    font-size: 2.4rem;
    font-weight: bold;
    font-family: 'Exo 2', sans-serif;
    font-weight: 500;
    color: black;
    text-shadow: #28313b;
}

.goldContainer{
    display: flex;
    width: 90%;
    height: 15%;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
    background-color: black;
    padding: 2%;
    border: solid 2px black;
    border-radius: 10px;
    background:linear-gradient(#8b939a, #5B6467);
    border: 5px solid rgb(0, 0, 0);
    box-shadow: 8px 8px 8px rgb(0, 0, 0);
    margin-bottom: 10px;
}


.goldImage img{
    height: 100%;
    width: auto;
    object-fit: cover;
}

.goldText{
    position: relative;
    bottom: 8px;
    margin: 2%;
    padding: 2%;
    color: darkgoldenrod;
    font-size: 2.0rem;
    font-weight: bold;
    font-size: 2.5em;
}

.buttonContainer{
    display: flex;
    width: 90%;
    height: 20%;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
}

.selectionButton img{
    height: 100%;
    width: auto;
    pointer-events: all;
    cursor: pointer;
}
.selectionButton:hover{
    transform: scale(1.1);
}

.selectionButton.lockedButton{
    opacity: 0.3;
}

.player{
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player h1{
    font-size: 3.6rem;
    color: silver;
    margin-bottom: 2%;
}

.player h2{
    font-size: 2.8rem;
    color: silver;
}
  
.player h3 {
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 2;
    color: silver;
    font-weight: bold;
  }

.playerBox{
    width: 50%; 
}

.playerBoximage{
    width: 100%;
    height: auto;
    pointer-events: all;
    object-fit: cover;
}