.thisBannerRoot {
  position: relative;
  z-index: 100000;
  background-color: var(--bg-color);
  border-radius: 1%;
  box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.5);
  border: 5px solid rgb(47, 83, 151);

  font-weight: 400;
}

.bannerInfo {
  display: flex;
}

.editBannerButton {
  position: absolute;
  width: 10%;
  top: 5px;
  right: 5px;
  filter: drop-shadow(0px 0px 5px #a0a0a0)
  invert(1);
}

.editBannerButton img {
  width: 100%;
  height: auto;
  pointer-events: all;
  cursor: pointer;
}

.thisBannerRoot .character {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -55%);
  object-fit: cover;
  height: 35%;
  width: auto;
  filter: drop-shadow(1% 2% 3% rgb(0 0 0 / 0.4));
}

.thisBannerRoot .banner {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 35%;
  z-index: -1;
}

.Handle {
  margin: 17% auto 0 auto;
  font-weight: 500;
  text-shadow: 0px 0px 10px #000000, 0px 0px 10px #000000, 0px 0px 10px #000000,
    0px 0px 10px #000000;
  color: rgb(255, 255, 255);
  width: fit-content;
}

.Rank {
  margin: 40% auto 0 auto;
  line-height: 1.5;
  transform: translateY(-40%);
}

.Status {
  width: 90%;
  height: 30%;
  margin: 0 auto;
  text-align: left;
  background-color: var(--textbox-color);
  color: #000;
  padding: 2%;
  border-radius: 2%;
  overflow: scroll;
}

.Status::-webkit-scrollbar {
  display: none;
}

.SignOut {
  margin: 4% auto 0 auto;
  width: 90%;
  height: 6.5%;
  font-size: 2rem;
}

.Friend{
  margin: 4% auto 0 auto;
  width: 90%;
  height: 6.5%;
  font-size: 2rem;
}

.thisBannerRoot .bannerChangeButton {
  z-index: 100001;
  border: none;
  opacity: 0;
}

.ShowBannerSelection {
  display: block !important;
}

.bannerSelectionContainer {
  display: none;
  position: fixed;
  width: 60vw;
  height: 70vh;
  top: 17vh;
  left: 10vw;
  z-index: 100002;
  background-color: #000;

  border-radius: 7px;
  box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.5);
  border: 5px solid rgb(47, 83, 151);
}

.bannerSelectionExit {
  position: absolute;
  font-size: 20px;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  color: #ffffff;
  background: rgb(61, 0, 0);
  z-index: 10;
}

.bannerSelectionExit:hover {
  color: #d7d7d7;
}

.bannerOptions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* gap: 4%; */
  overflow: scroll;
  width: 100%;
  height: 100%;
  background-size: cover;
  padding: 27vh;
  padding-right: 0;
}

.bannerOptions::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
  scroll-behavior: smooth;
}

.bannerSelectionContainer h1 {
  display: block;
  position: absolute;
  top: 0;
  background-color: black;
  width: 100%;
  font-size: 3rem;
  color: silver;
  margin-bottom: 20px;
}

.backgroundBanner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  object-fit: cover;
}
.bannerRow {
  height: 15vh;
  width: 33vw;
  padding: 1vh 0;
  display: flex;
  z-index: 1;
}

.closeInRange{
  transform: translateX(5vw);
  transition: all 0.3s;
}

.bannerContainer {
  height: 100%;
  width: 100%;
  border: 3px solid #000;
  background-color: rgba(54, 59, 94, 0.743);
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.704);
  opacity: 100%;
  display: flex;
  overflow: hidden;
}

.bannerRow:hover .bannerContainer {
  background-color: rgb(42, 81, 153);
  transform: translate(-1%, 1%);
}

.bannerName {
  font-size: 1.5vw;
  color: rgb(237, 237, 237);
  margin-left: 15px;
  margin-top: 5px;
}

.bannerContainer img {
  width: 20%;
  height: 12vh;
  opacity: 1;
  object-fit: cover;
}
