.SwipeContainer {
  width: 100%;
  height: 100%;
}

.Warning{
    position: fixed;
    top: 54%;
    right: 15%;
    font-size: 2vw;
    z-index: 99999;
 
    width: 20vw;
    color: white;
    background-color: #000;
    padding: 1vw;
}

.SwipeButton {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.SwipeButton img {
  width: 120%;
  height: auto;
  transform: translate(-10%, 0);
  filter: drop-shadow(0.8vw 0.7vw 0.2vw #00000061);
}

.SwipeButton:hover img {
  animation: float 2s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translate(-10%, 0);
    filter: drop-shadow(0.8vw 0.7vw 0.2vw #00000061);
  }
  50% {
    transform: translate(-4%, 2%);
    filter: drop-shadow(0.6vw 0.5vw 0.2vw #0000009f);
  }
  100% {
    transform: translate(-10%, 0);
    filter: drop-shadow(0.8vw 0.7vw 0.2vw #00000061);
  }
}

.PopupContainer {
  position: fixed;
  top: calc(12.5vh + 65px);
  left: 50%;
  transform: translateX(-50%);

  width: 120vh;
  height: 70vh;
  border: 5px solid rgb(224, 191, 0);
  background: linear-gradient(#0b5192, #1a75ca, #0b5192);
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.BuyGoldText {
  position: relative;
  font-size: 2vw;
  font-weight: 700;
  height: 12.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.BuyGoldText:after {
  content: "";
  position: absolute;
  bottom: 20%;
  transform: translateX(-50%);
  left: 50%;
  height: 4px;
  width: 120%;
  background-color: rgba(205, 205, 205, 0.98);
}

.GoldPriceList {
  height: 80%;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.326);
  border-radius: 0.5vw;

  display: flex;
  flex-direction: column;
  gap: 2vw;
  align-items: center;

  padding: 2vw 0;
  overflow: scroll;
}

.GoldPriceList::-webkit-scrollbar {
  display: none;
}

.grid {
  width: 85%;
  height: 15vh;
  background-color: beige;
  display: grid;
  grid-template-rows: 1fr 5px 1fr;
  grid-template-columns: 1fr 4fr;
  font-size: 1.8vw;

  box-shadow: 0.6vw 0.6vw 0 black;
  transition: 0.3s all;

  font-weight: 600;
  text-shadow: -0.07vw -0.07vw 0 #000, 0.07vw -0.07vw 0 #000,
    -0.07vw 0.07vw 0 #000, 0.07vw 0.07vw 0 #000;
  color: white;
}

.grid:hover {
  transform: translate(0.2vw, 0.2vw);
  box-shadow: 0.4vw 0.4vw 0 black;
}

.hr {
  grid-row: 2/ 3;
  grid-column: 2 / 3;
  background-color: black;
}

.ImageContainer {
  grid-row: 1/ 4;
  grid-column: 1 / 2;
  display: flex;
  width: 15vh;
  height: 15vh;
  justify-content: center;
  align-items: center;
}

.Image {
  width: 12vh;
  height: 12vh;
}

.Top {
  justify-self: center;
  align-self: center;
}

.Top span {
  color: rgb(182, 0, 0);
}

.Bottom {
  display: flex;
  gap: 2vw;
  justify-self: center;
  align-self: center;

  display: flex;
  justify-content: space-between;

  width: 97.5%;
  height: 85%;

  background: linear-gradient(to right, #0b5192, #4a95dc);
}

.Total {
  margin-left: 3vw;
}

.Price {
  margin-right: 1vw;
}

.closeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12.5%;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  background-color: red;
  width: 2.5vw;
  height: 2.5vw;
  transform: translate(10%, -10%);
  color: white;
  font-size: 1.6vw;
  border: 3px solid black;
}
.close:hover {
  background-color: rgb(211, 0, 0);
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000083;
  z-index: 10;
}

.close2 {
  position: absolute;
  right: 1vw;
  top: 1vw;
  background-color: transparent;
  width: 2.5vw;
  height: 2.5vw;
  transform: translate(10%, -10%);
  color: rgb(0, 0, 0);
  font-size: 1.6vw;
  border: none;
}

.ConfirmationPopupContainer {
  position: fixed;
  top: calc(7.5vh + 65px);
  left: 50%;
  transform: translateX(-50%);

  width: 28vw;
  height: 80vh;
  border-radius: 0.5vw;
  background: #e3fafc;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}
.creditCardImageContainer {
  position: relative;
  margin-top: 12%;
  width: 70%;
  height: 30%;
}
.creditCardImageContainer span {
  position: absolute;
  top: 10%;
  left: -10%;
  background-color: #99e9f2;
  border-radius: 0.5vw;
  width: 120%;
  height: 80%;
}
.creditCardImage {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 1;
}

.ConfirmationText {
  margin-top: 8%;
  font-size: 2vw;
  color: rgb(0, 0, 0);
}
.ConfirmationAmountText{
    margin-top: 2%;
  font-size: 1.3vw;
  color: rgb(0, 0, 0);
}

.confirmButton {
  font-size: 1.5vw;
  padding: 0.8vw 3vw;
  border-radius: 0.5vw;
  position: absolute;
  bottom: 2vw;
  background-color: #38d9a9;
  border: none;
}

.confirmButton:hover {
  background-color: #20c997;
}

.form {
  margin-top: 1.6vw;
  font-size: 1vw;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.form input {
  font-size: 1vw;
  color: #696969;
  padding: 0.1vw 0.3vw;
  margin-left: 0.5vw;
}

.thankYouPopup{
    position: fixed;
    top: calc(27.5vh + 65px);
    left: 50%;
    transform: translateX(-50%);
  
    width: 28vw;
    height: 40vh;
    border-radius: 0.5vw;
    background: #e3fafc;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    font-size: 2.5vw;
    padding: 2vw;
    text-align: center;
}

.thankYouPopup p{
    margin-top: 2%;
}

.Check{
    margin-top: 4%;
    width: 25%;
    height: auto;
}