.characterPage{
    box-sizing: border-box;
    margin-top: 65px;
    display: flex;
    flex-direction: row;
}

.cgridContainer{
    flex-grow: 20;
    overflow: scroll;
    height: calc(100vh - 65px);
    background-color: rgb(44, 44, 44);
}

.cgridContainer::-webkit-scrollbar{
    width: 0px;
    background: transparent;
    scroll-behavior: smooth;
}

.characterGrid{   
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px auto;
    margin-top: 25px;
    width: 40vw;
}


.characterGrid .character{
    width: 8vw;
    height: 8vw;
    margin: 2px;
    background-position: center;
    padding: 6px;
    background: linear-gradient(36deg, rgba(233,202,55,1) 0%, rgba(251,240,184,1) 60%);
}

.character img{
    width: 100%;
    height: auto;
    pointer-events: all;
}

.character img:hover{
    transform: scale(110%);
}

.bottom{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60vw;
    height: calc(100vh - 65px);
}

.characterProfile{
    background-image: linear-gradient(to bottom, #28313B 0%, #485461 60%);
    /* min-height: 41vh; */
    min-width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.characterProfile .selectedCharacter{
    width: 200px;
    height: 200px;
    background-position: center;
}

.characterBox{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to top, #28313B 0%, #485461 60%);
    border: solid black;
    border-width: 7px;
    width: 95%;
    height: 85%;
    color: silver;
    -webkit-text-stroke: 0.75px black;
}


.selectedCharacter img{
    width: 100%;
    height: auto;  
}

.characterProfile h2{
    text-align: center;
}

.statsBox{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 3%;
    background-image: linear-gradient(to bottom, #28313B 0%, #485461 60%);
    border: solid black;
    border-width: 7px;
    width: 95%;
    color: silver;
    -webkit-text-stroke: 0.75px black;
}

.statsContainer{
    margin: 10px;
    display: flex;
    align-items: center;
}

.stat{
    width: 25px;
    height: 25px;
    background-color: goldenrod;
    margin: 5px;
    border-radius: 25px;
}