.character-select div{
    background-color: black;
}

.character{
    margin: 0 auto;
    width: 100vh;
    height: 100%;
    margin-top: 10vw;
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.imageWrapper{
    display: flex;
    justify-content: center;
    max-width: 10vw;
    min-width: 10vw;
    height: 10vw;
    background-color: #707070;
    border-radius: 50%;
    border: solid gray;
    border-width: 4px;
}

.selectedCharacter{
    display: flex;
    justify-content: center;
    background-color: #707070;
    min-width: 25vw;
    height: 25vw;
    border-radius: 50%;
    border: solid black;
    border-width: 4px;
}

.selectedCharacter img{
    width: 70%;
    height: auto;
}

.imageGrid{
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    background-color: lightgray;
    padding: 20px;
    min-width: 50vw;
    min-height: 30vw;
    border-radius: 15px;
}

.imageGrid img{
    width: 70%;
    height: auto;
    border-radius: 20px;
}

.imageGrid .imageWrapper:hover {
    border-color: black;        
}


