.characterPage{
    box-sizing: border-box;
    margin-top: 65px;
    display: flex;
    flex-direction: row;
}

.CharacterSelectRoot {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: calc(65px + 6.5vh);
    right: 2vw;
}   


.cgridContainer{
    
    /* flex-grow: 20; */
    overflow: scroll;
    height: 65vh;
    background-color: rgba(44, 44, 44, 0.775);
    border: 10px solid black;
}

.cgridContainer::-webkit-scrollbar{
    width: 0px;
    height: 0px;
    background: transparent;
    scroll-behavior: smooth;
}

.selectionButtonContainer{
    position: relative;
    height: 15vh;
}

.selectionButton{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    width: 100%;

    padding: 2vh 0;
    font-size: 6vh;
}

.characterGrid{   
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    width: 41vw;
    height: 100%;
}


.characterGrid .character{
    width: 13vw;
    height: 12vw;
    margin: 2px;
    background-position: center;
    padding: 6px;
    background: linear-gradient(36deg, rgba(233, 203, 55, 0.8) 0%, rgba(251,240,184,1) 60%);
}

.character img{
    width: 100%;
    height: auto;
    pointer-events: all;
}

.character img:hover{
    transform: scale(110%);
}

.bottom{
    display: flex;
    align-items: end;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    height: calc(100vh - 65px);
    background-image: linear-gradient(to bottom, #28313B 0%, #485461 60%);
}

.characterProfile{
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.characterBox{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    border-width: 7px;
    width: 50vw;
    height: 85%;
    color: silver;
    -webkit-text-stroke: 0.75px black;
    overflow: hidden;
}

.characterProfile .selectedCharacter{
    position: relative;
    width: 60vh;
    height: 60vh;
    transform: translate(-22%, 3vh);
}

.locked{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
}


.selectedCharacter img{
    width: 100%;
    height: auto;  
}



.characterProfile h2{
    text-align: center;
}

.statsBox{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    position: fixed;
    top: calc(65px + 8vh);
    left: 7vw;

    border-width: 7px;
    color: silver;
    -webkit-text-stroke: 0.75px black;
}

.statsBox h1 {
    font-size: 6.4rem;
}

.statsContainer{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2.4rem;
}


.stat{
    width: 30px;
    height: 30px;
    background-color: goldenrod;
    margin-left: 10px;
    border-radius: 100%;
}

@media only screen and (max-width: 1400px) {
    .statsBox h1 {
        font-size: 4.8rem;
    }
    .statsContainer{
        font-size: 1.8rem;
    }
  }

@media only screen and (max-height: 800px){
    .statsBox{
        top: calc(65px + 6vh);
        left: 5vw;

    }
    
}

.statsContainer img{
    width: 50px;
    pointer-events: all;
    height: auto;
}

.statsContainer img.selected {
    filter: invert(95%);
}

.statsContainer img:hover{
    transform: scale(110%);
    cursor: pointer;
}

.unlockButton{
    margin-left: 3vw;
    width: 15vh;
    height: 15vh;
}

.unlockButton img{
    width: 100%;
    height: auto;
    pointer-events: all;
}

.unlockButton img:hover{
    transform: scale(110%);
    cursor: pointer;    
}

