
  @import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Press+Start+2P&display=swap');


.Lobbypage {
  box-sizing: border-box;
  margin-top: 65px;
  height: calc(100vh - 65px);
  display: flex;
  flex-direction: row;
  background-image: url("/assets/BackgroundImages/Lobby.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  /* linear-gradient(to bottom, #c5f6fa 0%, #d0ebff 60%); */
}

/* background-image: linear-gradient(to bottom, #28313b 0%, #485461 60%); */

.Character {
  width: 40vw;
  transform: translateX(10%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Character h1 {
  font-size: 4.8rem;
  color: silver;
}

.Character h2 {
  font-size: 2.8rem;
  color: silver;
}

.Character h3 {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2;
  color: silver;
}

.characterBox {
  width: 50%;
  transform: scaleX(-1);
}

.characterBox img {
  width: 100%;
  height: auto;
  pointer-events: all;
  object-fit: cover;
}

.lobbySelect {
  width: 50vw;
  height: 40vh;
  overflow: scroll;
  height: 60vh;
  background-color: rgba(188, 188, 188, 0.53);
  border: 6px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lobbySelect::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
  scroll-behavior: smooth;
}

.lobby {
  box-sizing: border-box;
  padding: 10px;
  margin: 2%;
  width: 80%;
  height: 30%;
  border: 5px solid black;
  background-color: rgb(228, 228, 228);
  display: flex;
  align-items: center;
  gap: 7.5%;
}

.lobbyDetails h2 {
  font-weight: 650;
  font-size: 2.4rem;
  color: black;
}

.lobbyDetails h3 {
  font-weight: 500;
  font-size: 1.6rem;
  color: black;
  text-align: start;
}

.goldInfo {
  color: darkgoldenrod;
  font-weight: bold;
  font-size: 2.4rem;
}

.gold {
  width: 13%;
}

.gold img {
  width: 100%;
  height: auto;
  pointer-events: all;
  object-fit: cover;
}

.selectRoomButton {
  width: 15%;
  margin-left: auto;
  display: block;
}

.selectRoomButton:hover {
  transform: scale(110%);
  cursor: pointer;
}

.selectRoomButton img {
  width: 100%;
  height: auto;
  pointer-events: all;
  object-fit: cover;
}

.lobbySelection {
  display: flex;
  width: 50vw;
  height: 20vh;
  justify-content: end;
  align-items: center;
}

.noRoomsText {
  font-size: 2.5vw;
  margin-top: 3vh;
  color: rgba(0, 0, 0, 0.776);
}

.returnButton {
  display: block;
  cursor: pointer;
  margin: 0 1vw 0 1.5vw;
  width: 6vw;
  height: 6vw;
  border: 5px solid rgb(0, 0, 0);
  box-shadow: 8px 8px 0px rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  background:radial-gradient(#8e2e2e, #760303);
  transition: 0.2s all;
}
.returnButton:hover {
  transform: translate(3px, 3px);
  box-shadow: 5px 5px 0px black;
}

.returnButton svg {
  height: 80%;
  width: auto;
  color: rgb(0, 0, 0);
}

.createButton.createLobbyButton {
  flex-grow: 4;
  width: auto;
  background:radial-gradient(#277dc3,#043c82);
}

.lobbies {
  width: 60vw;
  height: calc(100vh - 65px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.createButton {
  position: relative;
  width: 40vw;
  height: 15vh;
  margin: 5vh 0;
  background:linear-gradient(#efd054, #68461c);
  font-family: 'Exo 2', sans-serif;
  font-size: 2.3vw;
  font-weight: 500;
  border: 5px solid rgb(0, 0, 0);
  box-shadow: 8px 8px 0px rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: 0.2s all;
}

.createButton:hover {
  transform: translate(3px, 3px);
  box-shadow: 5px 5px 0px black;
}

/* .createButton:before{
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: calc(100% + 6px);
  height: calc(100%);
  border: 12px solid transparent; 
  border-bottom: 8px solid #9dc3ff;
  filter: blur(1px);
  drop-shadow(0px -6px 6px rgb(255, 14, 6));
}

.createButton:after{
  content:"";
  position: absolute;
  top: 0;
  left: 50%;
  width: 10vw;
  transform: translateX(-50%);
  border: 5px solid transparent;
  border-top: 5px solid white;
} */

.createOptions {
  box-sizing: border-box;
  width: 50%;
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.createOption {
  width: 20%;
}

.createOption:hover {
  transform: scale(110%);
  cursor: pointer;
}

.createOption img {
  width: 100%;
  height: auto;
}

/*CREATE LOBBY COMPONENT*/

.createLobby {
  width: 50vw;
  height: 60vh;
  font-family: 'Exo 2', sans-serif;
  padding: 2vh;
  background: -moz-linear-gradient(360deg, #1C1C1C 10%, #494949 360%); background: linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
  background-size: contain;
}



.createLobby p {
  font-size: 2vw;
  color: silver;
  border-bottom: solid 3px silver;
  padding: 2%;
  text-align: center;
}

.publicOptions{
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.createLobby label {
  color: silver;
  font-size: 1.2vw;
  margin: 10px;
}

.formFieldsContainer{
  display: flex;
  justify-content: center;
}

.formFields{
  display: flex;
  width: fit-content;
  flex-direction: column;
  align-items: left;
  margin-top: 3vh;
  gap: 3vh;
}

.flex{
  display: flex;
  justify-content: space-between;
}

.LobbyInput {
  font-family: 'Exo 2', sans-serif;
  padding: 0.6vw 2vw;
  background-color: transparent;
  color: #fff;
  border: none;
  border-bottom: 3px solid white;
}

.LobbyInput option {
  color: black;
  line-height: 20;
}

.Input {
  padding: 0.6vw 0vw;
  font-family: 'Exo 2', sans-serif;
}

.submit {
  display: block;
  position: absolute;
  bottom: 6vh;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.8vw 2vw;
  font-size: 1.5vw;
  margin: 10px;
  border: none;
  background:radial-gradient(#368bd1,#043c82);
  border: 5px solid rgb(0, 0, 0);
  box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.735);
  font-family: 'Exo 2', sans-serif;
  font-size: 1.3vw;
  font-weight: 500
  
}

.submit:hover {
  transform: translate(-50%, 2%);
}
