.Lobbypage {
    box-sizing: border-box;
    margin-top: 65px;
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to bottom, #28313b 0%, #485461 60%);
}

.Character{
    width: 40vw;
    height: calc(100vh - 65px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Character h1{
    font-size: 4.8rem;
    color: silver;
}

.Character h2{
    font-size: 2.4rem;
    color: silver;
}

.characterBox{
    width: 50%;   
}

.characterBox img{
    width: 100%;
    height: auto;
    pointer-events: all;
    object-fit: cover;
}

.Lobbies{
    width: 60vw;
    height: calc(100vh - 65px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lobbySelect{
    width: 80%;
overflow: scroll;
  height: 65vh;
  background-color: rgba(242, 242, 242, 0.37);
  border: 10px solid black;

}

.lobbySelect::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
    scroll-behavior: smooth;
  }