.game{
    margin-top: 65px;

    font-size: 3vw; /* TEMP*/
    text-align: center; /* TEMP*/
}

.game button{/* TEMP*/
    margin: 5vw;;/* TEMP*/
    font-size: 3vw; /* TEMP*/
}

.error {
    text-align: center;
    margin-top: 20vh;
    font-size: 3vw;
}