/* .temp{
    position: fixed;
    line-height: 30px;
    top: 40vh;
    left: 25vw;

    display: flex;
    flex-direction: column;
    gap: 5vh;
} */

.ButtonOverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    /* background-color: #000000; */
}

.battleField{
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70vw;
    height: 60vh;
    background-color: #ffe0e0;
}

.character {
    position: absolute;
    transform: translate(-50%,-50%);

    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.032s linear;
}


.character[data-direction="right"] img{
    transform: scaleX(-1);
}

.characterName{
    overflow: hidden;
    position: absolute;
    font-size: 24px;
    width: 200px;
    top: 0;
    left: 50%;
    transform: translate(-50%,-120%);
}

.slimeImage{
    width: 5vw;
    height: auto;
}