/* .temp{
    position: fixed;
    line-height: 30px;
    top: 40vh;
    left: 25vw;

    display: flex;
    flex-direction: column;
    gap: 5vh;
} */

.ButtonOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

/* .topBar{
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: max(8vh, 65px);
  background-color: #7d7d7d;
  z-index: 10000;
} */

.ping {
  position: fixed;
  top: 80px;
  left: 20px;
  font-size: 2vw;
  color: white;
  z-index: 10000;
}

.background {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #28313b 0%, #485461 60%);
}

.self {
  z-index: 10000;
}
.self img {
  /* filter: drop-shadow(0px 0px 3px #ff0000) drop-shadow(0px 0px 4px #ff0000); */
}

.projectile {
  position: absolute;
  transform: translate(-50%, -50%);
  transition: 0.032s linear;

  background-color: red;
  border-radius: 100%;
  border: 3px solid #000;
}

.projectile.healing {
  background-color: rgb(13, 255, 0);
}

.projectile.buff {
  background-color: rgb(0, 195, 255);
}

.battleField {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #000;
  background-size: cover;
}

.battleFieldImage {
  width: 100%;
  height: 100%;
}

.battleFieldContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh);
  background-image: linear-gradient(to bottom, #28313b 0%, #485461 60%);
}

.character {
  position: absolute;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.032s linear;
}

.selfCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 1px;
}

.shootingAnim {
  animation: shooting 0.3s ease-out infinite;
}

@keyframes shooting {
  0% {
    transform: translate(-0%, 0%) scaleY(100%);
  }
  25% {
    transform: translate(-10%, 0%);
  }
  50% {
    transform: translate(0%, 0%) scaleY(80%);
  }
  75% {
    transform: translate(10%, 0%) scaleY(110%);
  }
  100% {
    transform: translate(0%, 0%) scaleY(130%);
  }
}

.character[data-direction="right"] img {
  transform: scaleX(-1);
}

.slimeImage {
  width: 5vw;
  height: auto;
}

.dmgUp{
  position: absolute;
  bottom: 25%;
  left: 0;
  transform: translateX(-150%);
  width: 3vw;
  height: 1.4vw;
  /* background-color: #000; */
  color: rgb(255, 0, 0);
  font-size: 1.4vw;
  font-weight: 700;
  display: flex;
  justify-content: end;
  align-items: end;
  filter: drop-shadow(0.2vw 0.2vw 0.2vw rgb(0, 0, 0));

}

.dmgUp img{
  position: absolute;
  bottom: 20%;
  right: -50%;
  width: 1.5vw;
  height: auto;
}

.HP_NAME_Bar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-49%, -90%);
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13vw;
}

.characterName {
  overflow: hidden;
  white-space: nowrap;
  font-size: 1vw;
  font-weight: 600;
  margin-left: 0.1vw;
}

.projectileBuffMode {
  width: 1.2vw;
  height: 1.2vw;
  border-radius: 100%;
  font-size: 0.8vw;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  background-color: #000;
}

.HPContainer {
  width: 7vw;
  border: 0.2vw solid black;
  height: 1.2vw;
}

.SelfHPBar {
  height: 100%;
  background-color: rgb(0, 237, 0);
}

.EnemyHPBar {
  height: 100%;
  background-color: rgb(255, 0, 0);
}
