/* .temp{
    position: fixed;
    line-height: 30px;
    top: 40vh;
    left: 25vw;

    display: flex;
    flex-direction: column;
    gap: 5vh;
} */


.ButtonOverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;

}

.background{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #28313b 0%, #485461 60%);
}

.mainCanvas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(223, 236, 255, 0.726);
}

.self{
    z-index: 10000;
}
.self img{
    filter: drop-shadow(0px 0px 3px #ff0000);
}

.projectile{
    position: absolute;
    transform: translate(-50%,-50%);
    transition: 0.032s linear;

    background-color: red;
    width: 2vw;
    height: 2vw;
    border-radius: 100%;
    border: 2px solid #000;
}

.battleField{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:none;
    border: 5px solid #000;
}

.battleFieldContainer{
    position: fixed;
    top:65px;
    left:0;
    width: 100vw;
    height: calc(100vh - 65px);
    background-image: linear-gradient(to bottom, #28313b 0%, #485461 60%);
}


.character {
    position: absolute;
    transform: translate(-50%,-50%);

    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.032s linear;
}

.TestHitBoxPoints{
    position: absolute;
    transform: translate(-50%,-50%);
    background-color: red;
    width: 10px;
    height: 10px;
}

.character[data-direction="right"] img{
    transform: scaleX(-1);
}

.characterName{
    overflow: hidden;
    position: absolute;
    font-size: 24px;
    width: 200px;
    top: 0;
    left: 50%;
    transform: translate(-50%,-120%);
}

.slimeImage{
    width: 5vw;
    height: auto;
}